# Overview - [Preppin' Data Challenge 2023: Week 8 - Taking Stock](https://preppindata.blogspot.com/2023/02/2023-week-8-taking-stock.html)

In this project we will be practicing cleaning and preparing data for analysis in Python. 

**Challenge Level: Intermediate**

We will be using the dataset linked in the title from the blog **Preppin' Data**, and will look to satisfy the following requirements per its instructions: 
     

**NOTE:** the project requirements and inputs have been corrected to accurately show the expected task according to the answer key  
**NOTE 2:** there are two conflicting "Purchase Price" groupings specified in the requirements and shown in the answer key   
Answer Key: ["Small", "Medium", "Large", "Very Large"]    
Requirements: ["Low", "Medium", "High", "Very High"]    
For the purpose of this exercise we have followed the requirements instead of the answer key   

### Input
There are 12 files to input this week. Each number in the file name reflects the ~~month~~ \[day\] it came from (~~January's~~ \[the 1st day's\] file doesn't have a value)


### Requirements
  - Input each of the 12 monthly files    
~~- Create a 'file date' using the month found in the file name~~   
    ~~- The Null value should be replaced as 1~~    
  - Create a "file date" using the DAY found in the file name
    - The Null value should be replaced as a 1
- Clean the Market Cap value to ensure it is the true value as 'Market Capitalisation'
    - Remove any rows with 'n/a'
- Categorise the Purchase Price into groupings
    - 0 to 24,999.99 as 'Low'
    - 25,000 to 49,999.99 as 'Medium'
    - 50,000 to 74,999.99 as 'High'
    - 75,000 to 100,000 as 'Very High'
- Categorise the Market Cap into groupings
    - Below \\$100M as 'Small'
    - Between \\$100M and below \\$1B as 'Medium'
    - Between \\$1B and below \\$100B as 'Large' 
    - \$100B and above as 'Huge'
- Rank the highest 5 purchases per combination of: file date, Purchase Price Categorisation and Market Capitalisation Categorisation.
- Output only records with a rank of 1 to 5

# Project Code

## Import Necessary Packages for Project

We will be importing the following packages/modules for the following reasons

- **Pandas:** allows us to create/format/clean our dataset for easy analysis
- **OS:** allows us to access folder path for consolidating csv files

In [1]:
import pandas as pd
import os
from pandas.api.types import CategoricalDtype

## Load/Combine Files into Single DataFrame

In [2]:
#create folder path variable to easily replace if necessary 
folder_path = r"D:\Work\Professional\Side_Projects\Data Cleaning Challenges\PreppinDataChallenge2023_Week8-TakingStock\drive-download-20230630T202710Z-001".replace("\\","/")

In [3]:
#create formatting for file path to iterate over
file_path =  r"D:\Work\Professional\Side_Projects\Data Cleaning Challenges\PreppinDataChallenge2023_Week8-TakingStock\drive-download-20230630T202710Z-001\{file}".replace("\\","/")

In [4]:
#initialize total_df variable
total_df = pd.DataFrame()

In [5]:
#iterate over files contained within parent folder
#create file date in each df
#concat revised df to total file df

for filename in os.listdir(folder_path):
    #select number from file name excluding "MOCK_DATA-" and ".csv" --> turn into numbers with 2 digit format
    filenum = filename[10:-4].zfill(2)
    #conditional to catch/correct the first file since it doesnt contain a number (MOCK_DATA instead of MOCK_DATA-1)
    if filenum == "00":
        filenum = "01"

    #read in formatted file name
    df = pd.read_csv(file_path.format(file = filename))
    #create/format column with file_date data
    df["File Date"] = "01-" + filenum + "-2023" 
    df["File Date"] = pd.to_datetime(df["File Date"])
    #concat dfs to create df with all file data
    total_df = pd.concat([total_df, df])

total_df

,id,first_name,last_name,Ticker,Sector,Market,Stock Name,Market Cap,Purchase Price,File Date
0,1,Vikki,Pascall,RIC,Basic Industries,NYSE,"Richmont Mines, Inc.",$458.83M,$78924.65,2023-01-10
1,2,Beulah,Michallat,ELY,Consumer Non-Durables,NYSE,Callaway Golf Company,$1.14B,$89818.72,2023-01-10
2,3,Mignon,Blenkinsop,CPTAG,NaN,NASDAQ,Capitala Finance Corp.,NaN,$53160.64,2023-01-10
3,4,Willis,Bugg,OAS,Energy,NYSE,Oasis Petroleum Inc.,$1.94B,$23636.92,2023-01-10
4,5,Balduin,Maffei,QQXT,NaN,NASDAQ,First Trust NASDAQ-100 Ex-Technology Sector In...,$101.07M,$65979.23,2023-01-10
...,...,...,...,...,...,...,...,...,...,...
995,996,Christel,Sarrell,CLNS^A.CL,NaN,NYSE,"Colony NorthStar, Inc.",NaN,$60683.35,2023-01-01
996,997,Rivi,Rame,EMCB,NaN,NASDAQ,WisdomTree Emerging Markets Corporate Bond Fund,$50.49M,$55605.12,2023-01-01
997,998,Doti,Facer,SXT,Basic Industries,NYSE,Sensient Technologies Corporation,$3.62B,$63432.98,2023-01-01
998,999,Dorothy,Janauschek,KRNT,Capital Goods,NASDAQ,Kornit Digital Ltd.,$643.74M,$97859.28,2023-01-01
999,1000,Lin,Rosgen,GPAC,Health Care,NASDAQ,Global Partner Acquisition Corp.,$193.67M,$73954.07,2023-01-01

In [6]:
#drop id column and reset index of total_df
total_df.drop(columns="id", inplace=True)
total_df.reset_index(drop=True, inplace=True)
total_df

,first_name,last_name,Ticker,Sector,Market,Stock Name,Market Cap,Purchase Price,File Date
0,Vikki,Pascall,RIC,Basic Industries,NYSE,"Richmont Mines, Inc.",$458.83M,$78924.65,2023-01-10
1,Beulah,Michallat,ELY,Consumer Non-Durables,NYSE,Callaway Golf Company,$1.14B,$89818.72,2023-01-10
2,Mignon,Blenkinsop,CPTAG,NaN,NASDAQ,Capitala Finance Corp.,NaN,$53160.64,2023-01-10
3,Willis,Bugg,OAS,Energy,NYSE,Oasis Petroleum Inc.,$1.94B,$23636.92,2023-01-10
4,Balduin,Maffei,QQXT,NaN,NASDAQ,First Trust NASDAQ-100 Ex-Technology Sector In...,$101.07M,$65979.23,2023-01-10
...,...,...,...,...,...,...,...,...,...
11995,Christel,Sarrell,CLNS^A.CL,NaN,NYSE,"Colony NorthStar, Inc.",NaN,$60683.35,2023-01-01
11996,Rivi,Rame,EMCB,NaN,NASDAQ,WisdomTree Emerging Markets Corporate Bond Fund,$50.49M,$55605.12,2023-01-01
11997,Doti,Facer,SXT,Basic Industries,NYSE,Sensient Technologies Corporation,$3.62B,$63432.98,2023-01-01
11998,Dorothy,Janauschek,KRNT,Capital Goods,NASDAQ,Kornit Digital Ltd.,$643.74M,$97859.28,2023-01-01
11999,Lin,Rosgen,GPAC,Health Care,NASDAQ,Global Partner Acquisition Corp.,$193.67M,$73954.07,2023-01-01

## Clean and Reformat Data

### Rename Market Capitalisation column and Drop Records Where Market Capitalisation is null

In [7]:
#rename "Market Cap" --> "Market Capitalisation"
total_df.rename(columns={"Market Cap": "Market Capitalisation"}, inplace=True)
#check column names
total_df.columns

Index(['first_name', 'last_name', 'Ticker', 'Sector', 'Market', 'Stock Name',
       'Market Capitalisation', 'Purchase Price', 'File Date'],
      dtype='object')

In [8]:
#drop rows where market capitalisation is null
total_df.dropna(subset="Market Capitalisation", inplace=True)
#check for nulls in market capitalisation column
print(total_df["Market Capitalisation"].isnull().sum())
#reset index
total_df.reset_index(drop=True, inplace=True)
print(total_df.head(3))

0
  first_name  last_name Ticker                 Sector Market  \
0      Vikki    Pascall    RIC       Basic Industries   NYSE
1     Beulah  Michallat    ELY  Consumer Non-Durables   NYSE
2     Willis       Bugg    OAS                 Energy   NYSE

              Stock Name Market Capitalisation Purchase Price  File Date
0   Richmont Mines, Inc.              $458.83M      $78924.65 2023-01-10
1  Callaway Golf Company                $1.14B      $89818.72 2023-01-10
2   Oasis Petroleum Inc.                $1.94B      $23636.92 2023-01-10

### Create "Purchase Price Categorisation" Column from "Purchase Price" column values

In [9]:
#make function with criteria for purchase price groups
#use "elif" instead of "else" just in case there are unclean values, will check for that later with .unique()

def pp_grouping(x):
    if x >= 75000:
        return "Very High"
    elif x >= 50000:
        return "High"
    elif x >= 25000:
        return "Medium"
    elif x >= 0:
        return "Low"

In [10]:
#observe current format for purchase price values
total_df["Purchase Price"].head(10)

0    $78924.65
1    $89818.72
2    $23636.92
3    $65979.23
4    $41824.21
5    $91259.95
6    $23359.60
7    $64509.73
8    $28857.02
9    $75779.30
Name: Purchase Price, dtype: object

In [11]:
#convert purchase price datatype to numerical, use string indexing to remove "$"
total_df["Purchase Price"] = total_df["Purchase Price"].str[1:].astype(float)
#rename col value to maintain $ unit during analysis
total_df.rename(columns={"Purchase Price": "Purchase Price ($)"}, inplace=True)

In [12]:
#create "Purchase Price Categorisation" column with "Purchase Price" column vaue grouping function 
total_df["Purchase Price Categorisation"] = total_df["Purchase Price ($)"].apply(pp_grouping)
#check for any values outside scope of column value groups
#will show NaN in unique values if there were column values outside of function scope
total_df["Purchase Price Categorisation"].unique()

array(['Very High', 'Low', 'High', 'Medium'], dtype=object)

In [13]:
total_df["Purchase Price Categorisation"].head(10)

0    Very High
1    Very High
2          Low
3         High
4       Medium
5    Very High
6          Low
7         High
8       Medium
9    Very High
Name: Purchase Price Categorisation, dtype: object

### Create "Market Capitalisation Grouping" column from "Market Capitalisation" column values

In [14]:
#observe current format for market capitalisation values
total_df["Market Capitalisation"].head(10)

0    $458.83M
1      $1.14B
2      $1.94B
3    $101.07M
4    $687.82M
5     $25.37B
6     $72.81M
7       $2.9B
8       $1.3B
9      $5.29B
Name: Market Capitalisation, dtype: object

In [15]:
#check for billions/millions unique suffixes in market capitalisation

unique_mc = list(total_df["Market Capitalisation"].str[-1:].unique())
#prints unique suffixes if the element is nonnumeric
print([x for x in unique_mc if x.isnumeric() == False])

#since the only letters in the array are M and B, we know that the we only have to account for millions and billions use cases

['M', 'B']

In [16]:
#make function with criteria to convert "Market Capitalisation" values to numerical values only  
#checks suffix for potential multiplier
#multiplies value by multiplier according to suffix

def mc_converter(x):
    value = float(x[1:-1])
    multiplier = x[-1:] 
    if multiplier == "B":
        return value*1000000000
    elif multiplier == "M":
        return value*1000000
    else:
        return value

In [17]:
#apply cleaning to column
#revise column name to include units

total_df["Market Capitalisation ($)"] = total_df["Market Capitalisation"].apply(mc_converter)
total_df["Market Capitalisation ($)"]

0        4.588300e+08
1        1.140000e+09
2        1.940000e+09
3        1.010700e+08
4        6.878200e+08
             ...
10104    6.430000e+09
10105    5.049000e+07
10106    3.620000e+09
10107    6.437400e+08
10108    1.936700e+08
Name: Market Capitalisation ($), Length: 10109, dtype: float64

In [18]:
#verify dtype of "Market Capitalisation ($)" column
total_df["Market Capitalisation ($)"].dtype

dtype('float64')

In [19]:
#drop market cap unclean column
total_df.drop(columns="Market Capitalisation", inplace=True)
total_df.columns

Index(['first_name', 'last_name', 'Ticker', 'Sector', 'Market', 'Stock Name',
       'Purchase Price ($)', 'File Date', 'Purchase Price Categorisation',
       'Market Capitalisation ($)'],
      dtype='object')

In [20]:
#make function with criteria for market cap groups
#make sure to use elif instead of else just in case there are unclean values, will check for that in the next cell with .unique()
def mc_grouping(x):
    if x >= 100000000000:
        return "Huge"
    elif x >= 1000000000:
        return "Large"
    elif x >= 100000000:
        return "Medium"
    elif x >= 0: 
        return "Small"

In [21]:
#create "Market Capitalisation Categorisation" column with "Market Capitalisation ($)"" column vaue grouping function
total_df["Market Capitalisation Categorisation"] = total_df["Market Capitalisation ($)"].apply(mc_grouping)

#check for any values outside scope of column value groups
#will show NaN in unique values if there were column values outside of function scope
total_df["Market Capitalisation Categorisation"].unique()

array(['Medium', 'Large', 'Small', 'Huge'], dtype=object)

In [22]:
total_df["Market Capitalisation Categorisation"].head(10)

0    Medium
1     Large
2     Large
3    Medium
4    Medium
5     Large
6     Small
7     Large
8     Large
9     Large
Name: Market Capitalisation Categorisation, dtype: object

### Create Rank Column

In [23]:
#grab df column labels to reference when writing rank code
total_df.columns

Index(['first_name', 'last_name', 'Ticker', 'Sector', 'Market', 'Stock Name',
       'Purchase Price ($)', 'File Date', 'Purchase Price Categorisation',
       'Market Capitalisation ($)', 'Market Capitalisation Categorisation'],
      dtype='object')

In [24]:
#create "Rank" column 
total_df["Rank"] = total_df.groupby(["File Date", "Purchase Price Categorisation", "Market Capitalisation Categorisation"])["Purchase Price ($)"].rank(method="max").astype(int)

In [25]:
total_df.head(3)

,first_name,last_name,Ticker,Sector,Market,Stock Name,Purchase Price ($),File Date,Purchase Price Categorisation,Market Capitalisation ($),Market Capitalisation Categorisation,Rank
0,Vikki,Pascall,RIC,Basic Industries,NYSE,"Richmont Mines, Inc.",78924.65,2023-01-10,Very High,4.588300e+08,Medium,16
1,Beulah,Michallat,ELY,Consumer Non-Durables,NYSE,Callaway Golf Company,89818.72,2023-01-10,Very High,1.140000e+09,Large,52
2,Willis,Bugg,OAS,Energy,NYSE,Oasis Petroleum Inc.,23636.92,2023-01-10,Low,1.940000e+09,Large,90

### Convert "Purchase Price Categorisation" column and "Market Capitalisation Categorisation" column to Category Data Type

In [26]:
#grab list of unique values to reference when creating categorical data type
pp_categories = list(total_df["Purchase Price Categorisation"].unique())
mc_categories = list(total_df["Market Capitalisation Categorisation"].unique())

In [27]:
#save "Purchase Price Categorisation" column values in ascending order 
pp_categories = pp_categories[1:2] + pp_categories[-1:] + pp_categories[2:3] + pp_categories[:1]
pp_categories

['Low', 'Medium', 'High', 'Very High']

In [28]:
#save "Market Capitalisation Categorisation" column values in ascending order
mc_categories = mc_categories[2:3] + mc_categories[0:2] + mc_categories[-1:]
mc_categories

['Small', 'Medium', 'Large', 'Huge']

In [29]:
#convert "Purchase Price Categorisation" column into categorical datatype
pp_cat = CategoricalDtype(categories=pp_categories, ordered=True)
total_df["Purchase Price Categorisation"] = total_df["Purchase Price Categorisation"].astype(pp_cat)
total_df["Purchase Price Categorisation"]

0        Very High
1        Very High
2              Low
3             High
4           Medium
           ...
10104          Low
10105         High
10106         High
10107    Very High
10108         High
Name: Purchase Price Categorisation, Length: 10109, dtype: category
Categories (4, object): ['Low' < 'Medium' < 'High' < 'Very High']

In [30]:
#convert "Market Capitalisation Categorisation" column into categorical datatype
mc_cat = CategoricalDtype(categories=mc_categories, ordered=True)
total_df["Market Capitalisation Categorisation"] = total_df["Market Capitalisation Categorisation"].astype(mc_cat)
total_df["Market Capitalisation Categorisation"]

0        Medium
1         Large
2         Large
3        Medium
4        Medium
          ...
10104     Large
10105     Small
10106     Large
10107    Medium
10108    Medium
Name: Market Capitalisation Categorisation, Length: 10109, dtype: category
Categories (4, object): ['Small' < 'Medium' < 'Large' < 'Huge']

In [31]:
#verify categorial data type conversion
total_df.dtypes

first_name                                      object
last_name                                       object
Ticker                                          object
Sector                                          object
Market                                          object
Stock Name                                      object
Purchase Price ($)                             float64
File Date                               datetime64[ns]
Purchase Price Categorisation                 category
Market Capitalisation ($)                      float64
Market Capitalisation Categorisation          category
Rank                                             int32
dtype: object

### Drop Unnecessary Columns, Reorder Columns for Output, Sort by Columns

In [32]:
#dropping other uneccessary columns
total_df.drop(columns=["first_name", "last_name"], inplace=True)

#reorder columns
prev_cols = total_df.columns.tolist()
new_cols = prev_cols[8:9] + prev_cols[6:7] + prev_cols[5:6] + prev_cols[:4] + prev_cols[7:8] + prev_cols[4:5] + prev_cols[-1:]
total_df = total_df[new_cols]

#check new column order 
total_df.columns

Index(['Market Capitalisation Categorisation', 'Purchase Price Categorisation',
       'File Date', 'Ticker', 'Sector', 'Market', 'Stock Name',
       'Market Capitalisation ($)', 'Purchase Price ($)', 'Rank'],
      dtype='object')

In [33]:
#sort values 
total_df.sort_values(by=["File Date", "Market Capitalisation Categorisation", "Purchase Price Categorisation", "Rank"], ascending=[True, False, False, True], inplace=True)
#reset index to sorted value order
total_df.reset_index(drop=True, inplace=True)
#call total_df to check
total_df

,Market Capitalisation Categorisation,Purchase Price Categorisation,File Date,Ticker,Sector,Market,Stock Name,Market Capitalisation ($),Purchase Price ($),Rank
0,Huge,Very High,2023-01-01,BP,Energy,NYSE,BP p.l.c.,1.179900e+11,86921.67,1
1,Huge,Medium,2023-01-01,JNJ,Health Care,NYSE,Johnson & Johnson,3.619200e+11,27289.36,1
2,Huge,Medium,2023-01-01,XOM,Energy,NYSE,Exxon Mobil Corporation,3.537700e+11,39345.93,2
3,Huge,Low,2023-01-01,RY,Finance,NYSE,Royal Bank Of Canada,1.034800e+11,3052.98,1
4,Huge,Low,2023-01-01,BA,Capital Goods,NYSE,Boeing Company (The),1.185700e+11,15340.41,2
...,...,...,...,...,...,...,...,...,...,...
10104,Small,Low,2023-01-12,SSNT,Miscellaneous,NASDAQ,"SilverSun Technologies, Inc.",1.612000e+07,21532.20,35
10105,Small,Low,2023-01-12,MTR,Energy,NYSE,Mesa Royalty Trust,2.246000e+07,21851.41,36
10106,Small,Low,2023-01-12,CREG,Miscellaneous,NASDAQ,China Recycling Energy Corporation,1.163000e+07,22532.76,37
10107,Small,Low,2023-01-12,FKU,NaN,NASDAQ,First Trust United Kingdom AlphaDEX Fund,2.749000e+07,23513.72,38
10108,Small,Low,2023-01-12,SBOT,Health Care,NASDAQ,"Stellar Biotechnologies, Inc.",1.135000e+07,24673.59,39

In [34]:
#check specific date for all Market Cap Category and Purchase Price Category combinations
#helps verify which combination should be at the top when pulling sorted dataframe

#size calculates the count

total_df.loc[total_df["File Date"] == pd.to_datetime("2023-01-01"), ["Market Capitalisation Categorisation", "Purchase Price Categorisation"]].groupby(["Market Capitalisation Categorisation", "Purchase Price Categorisation"]).size().reset_index().rename(columns={0:'count'}).sort_values(by=["Market Capitalisation Categorisation", "Purchase Price Categorisation"], ascending=False).reset_index(drop=True)

#the first four records within "2023-01-01" ordered by descending MC Category and PP Category are consistent with the ordered cell above

   Market Capitalisation Categorisation Purchase Price Categorisation  count
0                                  Huge                     Very High      1
1                                  Huge                          High      0
2                                  Huge                        Medium      2
3                                  Huge                           Low      3
4                                 Large                     Very High     98
5                                 Large                          High    100
6                                 Large                        Medium    106
7                                 Large                           Low     86
8                                Medium                     Very High     71
9                                Medium                          High     80
10                               Medium                        Medium     82
11                               Medium                           Low     74
12                                Small                     Very High     30
13                                Small                          High     45
14                                Small                        Medium     39
15                                Small                           Low     37

## Export Output Data

In [35]:
#save desired output dataframe to variable
output = total_df.loc[total_df["Rank"] <= 5, :].reset_index(drop=True)
output

,Market Capitalisation Categorisation,Purchase Price Categorisation,File Date,Ticker,Sector,Market,Stock Name,Market Capitalisation ($),Purchase Price ($),Rank
0,Huge,Very High,2023-01-01,BP,Energy,NYSE,BP p.l.c.,1.179900e+11,86921.67,1
1,Huge,Medium,2023-01-01,JNJ,Health Care,NYSE,Johnson & Johnson,3.619200e+11,27289.36,1
2,Huge,Medium,2023-01-01,XOM,Energy,NYSE,Exxon Mobil Corporation,3.537700e+11,39345.93,2
3,Huge,Low,2023-01-01,RY,Finance,NYSE,Royal Bank Of Canada,1.034800e+11,3052.98,1
4,Huge,Low,2023-01-01,BA,Capital Goods,NYSE,Boeing Company (The),1.185700e+11,15340.41,2
...,...,...,...,...,...,...,...,...,...,...
826,Small,Low,2023-01-12,MDVX,Health Care,NASDAQ,Medovex Corp.,1.822000e+07,113.28,1
827,Small,Low,2023-01-12,GNMX,Health Care,NASDAQ,"Aevi Genomic Medicine, Inc.",4.676000e+07,1016.87,2
828,Small,Low,2023-01-12,FEIM,Capital Goods,NASDAQ,"Frequency Electronics, Inc.",8.119000e+07,1094.12,3
829,Small,Low,2023-01-12,OBAS,Finance,NASDAQ,Optibase Ltd.,5.214000e+07,3599.65,4
830,Small,Low,2023-01-12,HSGX,Health Care,NASDAQ,Histogenics Corporation,3.547000e+07,6419.44,5

In [36]:
#create file name variable to easily set output file name and excel file type
file_name = "PreppinData_2023Week8-TakingStock_Output.xlsx"

#create file path to easily replace URL if necessary
folder_path = r"D:\Work\Professional\Side_Projects\Data Cleaning Challenges\PreppinDataChallenge2023_Week8-TakingStock"

#create formatted path to format URL for .to_excel
formatted_path = "{parent_path}\{file}".format(parent_path=folder_path, file=file_name).replace("\\", "/")

#export output
output.to_excel(formatted_path, sheet_name="output")